.container {
  height: 100vh;
  background-color: #020230;
  color: #fff;
  display: flex;
}

.main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url('./assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
}

.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.moneyList {
  list-style: none;
  width: 100%;
  margin: 1rem;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.moneyListItem.active {
  background-color: teal;
}

.moneyListItemNUmber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}

.moneyListAmount {
  font-size: 20px;
  font-weight: 300;
  width: 70%;
}
